
body {
    /* background: url(/static/nunjucks-watermark.png) 0 0 no-repeat; */
    min-width: 500px;
}

.biglogo {
    margin-top: 2em;
}

h1 a, h1 a:visited, h1 a:active {
    color: white;
}

.tagline {
    font-size: 1.3em;
    font-weight: bold;
}

#wiki-wrapper {
    width: auto;
}

#head-wrapper {
    /* background-color: #305982; */
    background: url(/static/bg.png);
    padding-top: .5em;
    margin-bottom: 1.5em;
}

#head {
    margin: 0;
    border: 0;
}

#head h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#head h1 img {
    margin-bottom: -5px;
    margin-left: .5em;
}

#head, #wiki-content, #footer, .page #footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    background-color: white;
    margin-top: .5em 0;
}

#navbar ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}

#navbar ul li {
    float: left;
    margin: 0;
    margin-right: 2em;
    padding: 0;
}

#navbar ul li a {
    display: block;
    margin: 0;
    padding: .9em 0 .75em 0;
    line-height: 1em;
}

ul.actions {
    padding-top: .5em;
}

/* .related { */
/*   background-color: #F7F7F7; */
/*   padding: 5px 10px; */
/*   margin: 0; */
/* } */
/* .related-title { */
/*   color: #888; */
/*   font-size: 14px; */
/*   line-height: 1.6; */
/*   padding: 2px; */
/*   border-bottom: 1px solid #ddd; */
/*   margin-bottom: 3px; */
/* } */
/* .related ul { */
/*   padding-left: 10px; */
/*   margin: 0; */
/* } */
/* .related>ul { */
/*   margin-left: 10px; */
/*   font-size: 17px; */
/* } */
/* .related ul ul { */
/*   font-size: 15px; */
/* } */
/* .related ul ul ul { */
/*   font-size: 14px; */
/* } */
/* .related ul li{ */
/*   margin: 0; */
/* } */

/* .markdown-body li { */
/*     margin: 5px 0; */
/* } */
